:root{
  --bg:#040816;
  --card:#0A132B;
  --panel:#101C3A;
  --line:#24345C;
  --ink:#F2F5FF;
  --mute:#97A7CC;
  --accent:#E9C25B;
  --accent2:#FFD84F;

  --radius-2xl:20px;
  --shadow-glow:0 0 0 1px #24345C,0 0 32px 3px rgba(255,216,79,.15);
  --shadow-glow-strong:0 0 0 1px #334A7D,0 0 48px 8px rgba(255,216,79,.32);
  --max-container:1200px;
}
